<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

			<style>
				.header {
					background-color: #6EB1FF;
				}
				.logo {
					margin-left: -1%;
					float: left;
					
				}
				img {
					height: 30%;
					width: 30%;
					margin-bottom: -10%;
					margin-top: -10%;
				}
			</style>
			</head>
	<body>
		<div class="header">
			<div class="container">
				<div class="logo">
					<a href="/">
					<img src="/static/logo.png"></img></a>
				</div>
			</div>
		</div>
		<div class="container">
			{% block content %} {% endblock %}
		</div>
	</body>
</html>