{% extends "base.html" %}
	{% block content %}
		<div class="col-sm-2">
			Your name is: 
		</div>
		<div class="col-sm-10" id="name">
			<p>{{ name }}</p>
		</div>

		<div class="col-sm-2">
			Location is: 
		</div>
		<div class="col-sm-10" id="location">
			<p> {{ location }}</p>
		</div>

		<div class="col-sm-2">
			From: 
		</div>
		<div class="col-sm-10" id="organization">
			<p> {{ org }}</p>
		</div>

		<div class="col-sm-2">
			Who you are: 
		</div>
		<div class="col-sm-10" id="about">
			<p> {{ about }}</p>
		</div>

		<div class="col-sm-2">
			Your project is: 
		</div>
		<div class="col-sm-10" id="project">
			<p> {{ project }}</p>
		</div>

		<div class="col-sm-2">
			What is that anyway?
		</div>
		<div class="col-sm-10" id="project_description">
			<p> {{ proj_desc }}</p>
		</div>

		<a class="btn btn-primary" href="/edit_profile/" >Edit Your Profile</a>

	{% endblock %}